<div class="container">

  <div class="col-md-4 offset-md-4">

    <h2>Login</h2>

    <form class="needs-validation" #form="ngForm" (ngSubmit)="onSubmit(form)">

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" #username="ngModel" [(ngModel)]="model.username"
          required>
        <div class="text-danger" *ngIf="username.invalid && (username.touched || form.submitted)">
          <div class="text-danger" *ngIf="username.errors.required"> Please fill out this field.</div>
          <!-- <div class="text-danger" *ngIf="username.errors.minlength">Minium length should be
            {{username.errors.minlength.requiredLength}}</div> -->
        </div>
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" #password="ngModel"
          [(ngModel)]="model.password" required>
        <div class="text-danger" *ngIf="password.invalid && (password.touched || form.submitted)">
          <div class="text-danger" *ngIf="password.errors.required"> Please fill out this field. </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="cf">
      <div class="d-flex justify-content-center links">
        Don't have an account?
        <a routerLink="../register"> Register</a>
      </div>
      <div class="d-flex justify-content-center">
        <a routerLink="../forgot-password" routerLinkActive="active">Forgot your password?</a>
      </div>
    </div>

  </div>

</div>