<div class="container">

  <div class="col-md-4 offset-md-4">

    <h2>Reactive Form</h2>
    <form [formGroup]="reactiveFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input class="form-control" formControlName="fullName" placeholder="Full name" type="text" required>

        <div class="text-danger" *ngIf="reactiveFormGroup.get('fullName').invalid && reactiveFormGroup.get('fullName').touched">
          <div class="text-danger" *ngIf="reactiveFormGroup.get('fullName').errors?.required"> Please fill out this
            field.</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input class="form-control" formControlName="email" placeholder="Email address" type="email" required>

        <div class="text-danger" *ngIf="reactiveFormGroup.get('email').invalid && reactiveFormGroup.get('email').touched">
          <div class="text-danger" *ngIf="reactiveFormGroup.get('email').errors?.required"> Please fill out this
            field.</div>
          <div class="text-danger" *ngIf="reactiveFormGroup.get('email').errors?.pattern"> Please enter valid email.</div>
        </div>

      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <input class="form-control" formControlName="mobile" placeholder="Phone number" type="text" required>

        <div class="text-danger" *ngIf="reactiveFormGroup.get('mobile').invalid && reactiveFormGroup.get('mobile').touched">
          <div class="text-danger" *ngIf="reactiveFormGroup.get('mobile').errors?.required"> Please fill out this
            field.</div>
          <div class="text-danger" *ngIf="reactiveFormGroup.get('mobile').errors?.maxlength"> Maxlength is 10 digit</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <select class="form-control" required formControlName="jobType">
          <option value="null">-- Select job type --</option>
          <option [value]="designer">Designer</option>
          <option>Manager</option>
          <option>Accaunting</option>
        </select>
      </div> <!-- form-group end.// -->

      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" placeholder="Create password" formControlName="password" type="password" required>
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <span class="text-danger mr-2">*</span>
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" placeholder="Repeat password" formControlName="confirmPassword" type="password"
          required>
      </div> <!-- form-group// -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
      </div> <!-- form-group// -->
    </form>

  </div>

</div>