<nav class="navbar navbar-expand-lg bg-primary navbar-dark static-top">
  <ul id="nav">
    <li><a href="javascript:void(0);">Binding »</a>
      <ul>
        <li><a routerLinkActive="is-active" routerLink="/one-way-binding">One Way Binding</a>
        <li><a routerLink="/two-way-binding">Two Way Binding</a>
      </ul>
    </li>
    <li><a href="javascript:void(0);">Directives »</a>
      <ul>
        <li><a routerLink="/structural-directive">Structural Directive</a>
        <li><a routerLink="/custom-directive">Custom Directive</a>
      </ul>
    </li>
    <li><a href="javascript:void(0);">Pipes »</a>
      <ul>
        <li><a routerLink="/default-pipe">Default Pipe</a>
        <li><a routerLink="/custom-pipe">Custom Pipe</a>
      </ul>
    </li>
    <li><a href="javascript:void(0);">Forms »</a>
      <ul>
        <li><a routerLink="/template-driven-form">Template Driven Form</a>
        <li><a routerLink="/reactive-form">Reactive Form</a>
      </ul>
    </li>
    <li><a routerLink="/data-sharing">Data Sharing</a></li>

    <li><a routerLink="/lazy-load-module">Lazy Load Module</a></li>
    <li class="pull-right"><a href="javascript:void(0);" (click)="logOut()">LogOut</a></li>

  </ul>
</nav>

<!-- Page Content -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>