
<!-- One way data binding using interpolation-->
<h1>
  Welcome to {{title}}.
</h1>

<!-- Property bind -->
<button type="button" class="btn btn-primary" [disabled]="isDisabled">Click Me</button>&nbsp;&nbsp;&nbsp;

<!-- Event Binding-->
<button type="button" class="btn btn-success" (click)="toggleMe()">Toggle Me</button>

<!-- Class bind -->
<p class="mt-4" [class.changeColor]="isDisabled">This is class binding example</p>

<!-- Style Binding-->
<p [style.color]="isDisabled ? 'blue' : 'green'">This is style binding example</p>